<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listner.Listner"></listener>
</listeners>
  <!--<test name="E-Cart Login Test">
   <parameter name="browser" value="chrome"></parameter>
     <classes>
        <class name="com.cart.testcases.logintests.TC0002_LoginTest"/>
     </classes>
  </test>-->
  
  <!--<test name="Accessories Test">
     <parameter name="browser" value="chrome"></parameter>
       <classes>
           <class name="com.cart.testcases.AccesoriesTest">
           <methods>
           <include name="TC_008"/>
           </methods>
           </class>
        </classes>
  </test>-->
  
  <!--<test name="Home Page Test">
     <parameter name="browser" value="chrome"></parameter>
       <classes>
           <class name="com.cart.testcases.HomePageTests">
           <methods>
           <include name="TC002"/>
           </methods>
           </class>
        </classes>
  </test>-->
  
   <test name="Cart Page Test">
     <parameter name="browser" value="chrome"></parameter>
       <classes>
           <class name="com.cart.testcases.CartPageTests">
           <methods>
           <include name="TC002"/>
           </methods>
           </class>
        </classes>
  </test>
  <!--  <test  name="E-Banking Test">
    <classes>-->
  <!-- <class name="com.opencart.testcases.TC0001_RegistrationTest"/>-->
   <!-- <class name="com.cart.testcases.TC0002_LoginTest"></class>-->
    <!-- <class name="com.inetbanking.testcases.TC02_LoginTestDDT"/>-->
   <!-- <class name="com.inetbanking.testcases.TC003_AddNewCustomer"/>-->
    <!-- <class name="com.inetbanking.testcases.TC0003_AddToCartTest"/>-->
   <!--  </classes>-->
 <!--  </test>  -->
  
  <!-- <test name="Add To Cart Test Cases">
      <classes>
         <class name="com.cart.testcases.cartTestCases.AddToCartTests"/>
      </classes>
  </test>-->
  
  <!--<test name="Store Page test cases">
    <classes>
      <class name="com.cart.testcases.storePageTests.StorePageTests"/>
    </classes>
   </test> -->
</suite> <!-- Suite -->
