<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listner.Listner"></listener>
</listeners>
  <parameter name="browser" value="chrome"></parameter>
  <test  name="E-Banking Test">
    <classes>
  <!--  <class name="com.inetbanking.testcases.TC0001_RegistrationTest"/>-->
    <class name="com.inetbanking.testcases.TC0002_LoginTest"></class>
    <!-- <class name="com.inetbanking.testcases.TC02_LoginTestDDT"/>-->
   <!-- <class name="com.inetbanking.testcases.TC003_AddNewCustomer"/>-->
     <class name="com.inetbanking.testcases.TC0003_AddToCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
